/* universal styles */

html {
font-family: 'Source Sans Pro', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100vw;
  min-width: 320px;
  max-width: 1024px;
  margin: 0 auto;
}

h1, h2, h3, h5 {
  font-family: 'Playfair Display', serif;
}

header h1 {
  font-size: 1.5em;
}

h1 strong {
  font-weight: bold;
}

em {
  color: grey;
}

a {
  text-decoration: none;
  color: red;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  box-sizing: border-box;
  min-width: inherit;
  width: 100vw;
  max-width: 100%;
}

header .logo {
  margin: 0 8vw;
}

.colmar-logo h1 {
  display: none;
}

div.colmar-logo {

}

nav li {
  display: inline-block;
  padding: 0 8vw;

}

/* Banner section */

.banner-img {
  min-width: inherit;
  width: 100vw;
  max-width: 100%;
  height: 300px;
  background-image: url("../images/banner.jpg");
  background-size: cover;

}

.banner {
  background-color: white;
  height: 225;
  text-align: center;
  width: 85%;
  margin: 0 auto;
  margin-top: -35px;
  margin-bottom: 20px;
  box-sizing: border-box;
  padding: 10px;
  box-shadow: 0px 10px 50px 5px darkgrey;
  z-index: 1;
}

.banner h1 {
  font-size: 2em;
  font-weight: bold;

}

.banner p {
  margin-top: 10px;
  font-size: 20px;
}

.banner .btn {
  background-color: #009FFF;
  width: 60%;
  box-sizing: border-box;
  margin: 10px auto;
  font-weight: bold;
  color: white;
  border-radius: 10px;
  max-width: 200px;
}

.banner .btn p {
  padding: 10px 10px;

}

/* articles */

.article-main {
  display: none;
}

.article-header {
  width: 85%;
  background-color: white;
  height: 110px;
  border-radius: 10px;
  margin: 10px auto;
  margin-top: -20px;
  z-index: 2;
  box-shadow: 0px 10px 25px 2px darkgrey;
  position: relative;
  padding: 5px;
  box-sizing: border-box;
}

.article-header h3 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  padding: 5px 0;
  font-size: 20px;
}

article-header p {
  font-size: 12px;
  padding: 20px;
}

.desktop-img {
  display: none;
}

/* subjects section */

.subjects {
  width: 85%;
  margin: 5px auto;
  text-align: center;
  font-weight: bold;
  box-sizing: border-box;
  background-color: #e5e5e5;
  border-radius: 10px;
}

.subjects h1 {
  font-size: 2em;
  margin: 10px 0;
  font-family: 'Source Sans Pro', sans-serif;
}

.subject {
  width: 100%;
  height: inherit;
  padding: 5px 0;
  font-size: 1em;
  border-radius: 10px;
}

.subject h2{
  background-color: #98cfe2;
  font-family: 'Source Sans Pro', sans-serif;
  box-sizing: border-box;
  border-radius: 5px;
  text-align: left;
  width: 95%;
  margin: 10px auto;
  padding: 10px 5px;
}

.sub img {
  display: none;
}

.subjects p {
  display: none;
}

.subjects h4 {
  display: none;
}

/* Thesis section */
.thesis {
    margin: 20px 0;
}

.thesis video {
  width: 100vw;
  max-width: 100%;

}

.thesis h1 {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}

.playlist {
  display:none;
}

/* Footer section */
footer {
  height: 60px;
  margin-bottom: 0;
}

footer p {
  margin: 10px;
  text-align: center;
  padding: 25px 0;
}
/* mobile widths / media queries */

@media only screen and (max-width: 449px) {

/* navigation */
.text-nav {
  display: none;
}

/* articles */

.articles .article-item img {
  width: 100vw;
  z-index: -1;
}

}


/* for tablets */

@media only screen and (min-width: 450px) {

/* universal styles */

li:hover {
	text-decoration: underline;
}

  /* navigation */
  header {
  justify-content: space-between;
}

  .logo-nav {
    display: flex;
  }

  .text-nav {
  display: none;
}

  .logo-nav li {
	  padding: 0 3vw;
  }


  /* logo */

  .colmar-logo .logo {
    margin: 0;
  }

  .colmar-logo {
    flex-basis: 50%;
    text-align: left;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 25px;
  }

  .colmar-logo h1 {
    display: block;
    margin-left: 10px;
    text-transform: uppercase;
  }

  /* banner */
  .banner {
	  height: 40vw;
	  max-height: 225px;
  }

  .banner-info p {
    font-size: 1.25rem;
  }

  .banner-info h1 {
    font-size: 7vw;
    max-width: 95%;
  }

.banner-info .btn {
  transition: background-color 0.5s ease-out 0.01s;

}

  .banner-info .btn:hover {
    background-color: #FF226D;
  }

/* Articles */

.articles {
  width: 100vw;
  max-width: 100%;
  margin-top: 25px;
}

.article-item  {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  height: 35vw;
  margin: 25px 0;

}

.articles .article-main img {
  /* width: 60%; */
  height: 100%;
}

.article-header {
  box-sizing: border-box;
  border-radius: 0;
  box-shadow: 0 0 0 0;
  margin: 0;
  background-color: #efefef;
  white-space: normal;
  text-overflow: clip;
  overflow: hidden;
}

.article-header h3 {
  white-space: normal;

}

.article-header p {
  width: 100%;
}

.article-main {
  margin-bottom: 0;
  margin: auto 0;
  height: 30vw;
  width: 100vw;
  max-width: 1024px;

}

.article-main .article-header {
  min-height: 100%;
  max-width: 45%;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding-top: 10px;
  box-sizing: border-box;
  background-color: #d8d8d8;
}

.article-main .article-header h3 {
  font-size: 5vw;
}

.article-main .article-header p {
  line-height: normal;
  margin-top: 15px;
}

.mobile-img {
  display: none;
}

.desktop-img {
  display: block;
}

.article-sub {
  display: flex;
  flex-wrap: wrap;
  width: 33.3%;
  height: 100%;
  margin: 0 auto;


}

#article-wheel {
  display: flex;
  align-items: center;
  width: 100vw;
  max-width: 1024px;
  height: 90px;
  margin: 0 auto;
}

.article-sub img {
  /* width: 35%; */
  height: 100%;
  flex-grow: 0;
  flex-shrink: 1
}

  .article-sub .article-header {
    flex-basis: 20%;
    height: 100%;
    flex-grow: 2;
    flex-shrink: 2;

  }

  .article-sub .article-header {
	  transition: background-color 0.5s ease-out 0.01s;
  }

  .article-sub .article-header:hover {
	  background-color: #ced8e8;
  }

  /* subjects section */
  .subjects {
    margin-top: 50px;
    padding: 0 10px;
	width: 90vw;
  max-width: 1024px;
  }

  .subject {
	  display: flex;
	  flex-wrap: wrap;
	  border-radius: 0 !important;

  }

  h2 {
    width: 100% !important;
    height: auto;
    padding: 10px 5px !important;
    margin: 0 !important;
    text-align: left;
    box-sizing: border-box;
	  border-radius: 0 !important;
 	  background-size: 100%;
	  background-repeat: no-repeat;
    font-size: 4vw;
    background-color: transparent !important;

  }

  .sub h4 {
    text-align: left;
    text-transform: uppercase;
    margin-left: 5px;
    padding-bottom: 5px;
    font-weight: normal;
    font-size: 1em;
  }




  .sub img {
    display: block;
  }

  .sub {
    height:35vw;
    width: 35vw !important;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin: 10px;
    box-sizing: border-box;
    background-color: #98cfe2;
    position: relative;
  }


  .sub img {
    width: 100%;
  }

  .subject p {
  	text-align: left;
  	font-weight: normal;
  	font-size: 2vw;
  	margin-left: 5px;
    padding-bottom: 5px;
  }

/* thesis section */
  
  .playlist {
    display: block;
  }
  
.thesis {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  max-width: 1024px;
  max-height: 600px;
}
  
  .thesis h1 {
    display: block;
    flex-basis: 100%;
    text-align: left;
  }
  
  .playlist {
    width: 100vw;
    max-width: 1024px;
    display: flex;
    height: 20%;
  }

.thesis .next-video {
  width:30%;
  flex-grow: 1;
  flex-shrink: 1;
  height: 20%;
  background-color: #d8d8d8;
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  
}

.next-video h4 {
  font-weight: bold;
}

.next-video img {
  height: auto;
  width: 35%;
}

.next-video .thesis-detail {
  width: 60%;
  margin-left: 10px;
}
  
  .next-video:hover {
    background-color: white;
  }
  
  .next-video {
    transition: background-color 0.5s ease-out 0.01s;
  }

.thesis video {
  /* width: 100vw; */
  flex-basis: 60%;
  flex-shrink: 2;
  height: 70%;
}

}

/* computer */

@media only screen and (min-width: 768px) {
	/* navigation */

	  .text-nav {
    display: block;
  }

  .logo-nav {
	  display: none;
  }

    nav.text-nav li {
    padding: 10px;
  }

  /* banner */

  .banner-img {
    height: 500px;
    background-size: cover;

  }

  .banner h1 {
    font-size: 75px;
  }

  .banner {
    box-shadow: 0 0 0 0;
  }

.articles {
	width: 100vw;
	max-width: 1024px;
	height: 100vw;
  max-height: 500px;
  display: flex;
}

/* articles */

.article-main {
  width: 60%;
  height: 100%;
  margin: 0 !important;
}

.article-main img {
  width: 100% !important;
  height: 70% !important;

}

.article-main .article-header {
	max-width: 100% !important;
  min-height: 0%;
  height: 30%;



}

#article-wheel {
	width: 40%;
	flex-direction: column;
	align-self: flex-end;
	align-items: flex-end;
	height: 100%;
  margin: 0;
}

.article-sub {
  width: 100% !important;
}

.article-main h3 {
  font-size: 35px !important;
}

/* subjects section */

.subject {
	margin: 0 auto;
	height: 600px;
}

.sub {
	max-width: 30%;
	max-height: 45% !important;
	margin: 10px auto;
}

.subject h2 {
	font-size: 1.5em;
	max-height: 50%;
}

.subjects h4 {
  display: block;
}

.subjects p {
  display: block;
}

.sub:hover {
  background-color: white;
  margin-top: -10px;
}

.sub {
  transition: all 0.3s ease-out 0.1s;
}


}

@media only screen and (min-width: 1024px) {
	.subject p {
		font-size: 15px;
    font-weight: light;
	}
  
  /* thesis section */
  video {
    max-width: 60% !important;
  }
  
  .playlist {
    width: 40%;
    flex-direction: column;
  }
  
  .next-video {
    width: 100% !important;
    margin-bottom: 20px;
  }
}
